<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>配達先一覧</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-info-subtle">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">配達先一覧</a>
            </div>
        </nav>
        <div class="container text-center">
            <h1>配達先一覧</h1>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr th:each="destination : ${destinationList}">
                        <td th:text="${destination.name}"></td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <form th:action="@{/prescription/}" method="post">
                                            <input type="hidden" name="destinationId" th:value="${destination.id}" />
                                            <button type="submit" class="btn btn-primary">処方記録</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#editModal"
                                                data-th-data-destination-id="${destination.id}" data-th-data-destination-name="${destination.name}">編集</button>
                                    </td>
                                    <td>
                                        <form th:action="@{/destination/delete}" method="post">
                                            <input type="hidden" name="id" th:value="${destination.id}" />
                                            <button class="btn brn-primary">削除</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-start">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" id="addButton">追加</button>
            </div>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editModalLabel">配達先の登録・編集</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/destination/register}" method="post" class="needs-validation" novalidate>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="destinationName" class="form-label">配達先</label>
                                <input type="text" class="form-control" id="destinationName" name="destinationName" maxlength="128" th:value="${destinationName}" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-inline-flex p-2">
                                <input type="hidden" id="destinationId" name="destinationId" th:value="${destinationId}" />
                                <input type="hidden" id="isEdit" name="isEdit" th:value="${isEdit}"/>
                                <button type="submit" class="btn btn-primary">更新</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/bootstrapValidation.js"></script>
        <script type="text/javascript" src="/script.js"></script>
    </body>
</html>
