<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>カレンダー</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">配達カレンダー</a>
                <form th:action="@{/prescription/}" method="post">
                    <input type="hidden" name="destinationId" th:value="${destinationId}" />
                    <button type="submit" class="btn btn-primary">処方記録に戻る</button>
                </form>
            </div>
        </nav>
        <div class="container text-center">
            <h1 th:text="${destinationName}"></h1>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th class="align-middle" scope="col" th:each="yearMonth : ${yearMonth}" th:text="${yearMonth}" colspan="31"></th>
                    </tr>
                    <tr>
                        <th></th>
                        <div th:each="list : ${days}">
                            <th scope="col" th:each="date : ${list.dateList}" th:text="${date}"></th>
                        </div>
                    </tr>
                    <tr>
                        <th></th>
                        <div th:each="list : ${days}">
                            <th scope="col" th:each="week : ${list.weekList}" th:text="${week}"></th>
                        </div>
                    </tr>
                </thead>
                <tbody>
                <div th:each="schedule : ${schedules}">
                    <div th:each="color : ${schedule}">
                        <tr>
                            <th rowspan="2" scope="row" th:text="${color.patientName}"></th>
                            <div th:each="rpColor : ${color.rp}">
                                <td th:colspan="${rpColor.day}" th:if="${rpColor.rp == '余白'}"></td>
                                <td class="table-primary" th:colspan="${rpColor.day}"  th:if="${rpColor.rp == '処方'}"></td>
                            </div>
                        </tr>
                        <tr>
                            <div th:each="doneColor : ${color.done}">
                                <td th:colspan="${doneColor.day}" th:if="${doneColor.done == '余白'}"></td>
                                <td class="table-success" th:colspan="${doneColor.day}" th:if="${doneColor.done == '配達済'}"></td>
                            </div>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
    </body>
</html>
